// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 300;
}


h1 {
    font-size: 36px;
}

h2 {
    font-size: 26px;
    margin-bottom:5px;
}

h3 {
    font-size: 20px;
    color:$secondary-color;
        margin-bottom:5px;

}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p {
    margin-top: 0;
}
