<% if data.resume.languages? %>
    <div class="languages-container container-block">
        <h2 class="container-block-title"><%= data.resume.headers.languages %></h2>
        <ul class="list-unstyled interests-list">
            <% data.resume.languages.each do |lang| %>
                <li><%= lang.name %><span class="lang-desc">&nbsp;[<%= lang.level %>]</span></li>
            <% end %>
        </ul>
    </div>
<% end %>
